@model Category
@{
    ViewData["Title"] = "Details";
    int counter = 1;
}

<!-- Page Heading -->
<div class="row justify-content-between">
    <div class="col-lg-12">
        <h1 class="h3 mb-4 text-gray-800">Main @Model.Name Category Page</h1>
    </div>

    <div class="col-lg-1">
        <a asp-controller="category" asp-area="manage" asp-action="index" class="btn btn-primary">Go to Index</a>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/assets/images/@Model.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Name : @Model.Name</h5>
                <p class="card-text">Product Count :@Model.Products.Count()</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th>Product Count </th>
                    <th>Created At </th>
                    <th>Setting </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category category in Model.Children)
                {
                    <tr>
                        <td> @counter </td>
                        <td>@category.Name</td>
                        <td>@category.Products?.Count()</td>
                        <td>@category.CreatedAt?.ToString("dd / MM / yyyy")</td>
                        <td>
                            <a class="btn btn-warning" asp-area="manage" asp-controller="category" asp-action="update" asp-route-id="@category.Id">Update</a>
                        </td>

                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>