@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    int counter = 1;
}
<!-- Page Heading -->
<div class="row justify-content-between">
    <div class="col-lg-12">
        <h1 class="h3 mb-4 text-gray-800">Categories Page</h1>
    </div>
    <div class="col-lg-1">
        <a asp-controller="product" asp-area="manage" asp-action="create" class="btn btn-primary">Create</a>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Tags</th>
                    <th>Created At </th>
                    <th>Setting </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                <tr>
                    <td> @counter </td>
                    <td> <img width="100" src="~/assets/images/product/@product.MainImage"> </td>
                    <td>@product.Title</td>
                    <td>@product.Category?.Name</td>
                    <td>@product.Brand?.Name</td>
                    <td>@(product.ProductTags != null && product.ProductTags.Count() > 0 ? String.Join(",", product.ProductTags.Select(x => x.Tag.Name)) : "")</td>
                    <td>@product.CreatedAt?.ToString("dd / MM / yyyy")</td>
                    <td>
                        <a class="btn btn-warning" asp-area="manage" asp-controller="product" asp-action="update" asp-route-id="@product.Id">Update</a>
                        <a class="btn btn-danger" asp-area="manage" asp-controller="product" asp-action="delete" asp-route-id="@product.Id">Delete</a>
                        <a class="btn btn-primary" asp-area="manage" asp-controller="product" asp-action="detail" asp-route-id="@product.Id">Detail</a>
                    </td>

                </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>
